extends /template/layout
block variables
  - var appName = 'rentalcarApp'
  - var isBookingActive = 'current'
  - var isRentalcarActive = 'current'

block main-content
  //- The main content which will be exetended in each file
  section(id="page-title", class="page-title-dark")
    div(class="container clearfix")
      h1 Book Rental Car 
      span Make a booking with us
      ol(class="breadcrumb")
        li: a(href="#") <i class="fa fa-home"></i> Home
        li(class='active') Rental Car Bookings 

  //- Actual page content
  section(id="content")
    div(class="content-wrap")
      div(class="container clearfix")
        div(ng-view)

block additional-scripts
  script(src="/app/rentalcar/rentalcarApp.js", type='text/javascript')
  script(src="/app/rentalcar/rentalcar.ctrl.js", type='text/javascript')
  script(src="/app/rentalcar/rentalcarCities.factory.js", type='text/javascript')
  script(src='/app/rentalcar/maps.js', type='text/javascript')
  script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBMiC29G4FDk4htjwOGvJnZR7kqq6n0iLo&libraries=places&callback=initAutocomplete", type='text/javascript')
