extends /template/layout
block variables
  - var appName = 'userApp'
  - var isLoginActive = 'current'
  - var isaActivityActive = 'current'

block main-content
  //- The main content which will be exetended in each file
  section(id="page-title", class="page-title-dark")
    div(class="container clearfix")
      h1 Login to your account 
      span If you don't have an account CREATE NEW
      ol(class="breadcrumb")
        li: a(href="#") <i class="fa fa-home"></i> Home
        li(class='active') Login - Register

  //- Actual page content
  section(id="content")
    div(class="content-wrap")
      div(class="container clearfix")
        div(ng-view)

block additional-scripts
  script(src="/app/userApp.js", type='text/javascript')
  script(src="/app/user/user.ctrl.js", type='text/javascript')
