extends /includes/layout

block main-content
  //- Main title area
  section(id="page-title", class="page-title-dark")
    div(class="container clearfix")
      h1 Login to your account 
      span If you don't have an account CREATE NEW
      ol(class="breadcrumb")
        li: a(href="#") <i class="fa fa-home"></i> Home
        li(class='active') Login - Register
        
  //- Actual page content
  section(id="content")
    div(class="content-wrap")
      div(class="container clearfix")
        <div class="col_one_third nobottommargin">
          <div class="well well-lg nobottommargin">
            <form id="login-form" name="login-form" class="nobottommargin" action="#" method="post">
              <h3>Login to your Account</h3>
              <div class="col_full">
                <label for="login-form-username">Email:</label>
                <input type="email" id="login-form-username" name="login-form-username" value="" class="form-control">
              </div>
              <div class="col_full">
                <label for="login-form-password">Password:</label>
                <input type="password" id="login-form-password" name="login-form-password" value="" class="form-control">
              </div>
              <div class="col_full nobottommargin">
                <button class="button button-3d nomargin" id="login-form-submit" name="login-form-submit" value="login">Login</button>
                <a href="#" class="fright">Forgot Password?</a>
              </div>
            </form>
          </div>
        </div>
        <div class="col_two_third col_last nobottommargin">
          div(ng-view)
          <h3>Don't have an Account? Register Now.</h3>
          <p class="terms_and_conditions">By creating an account, you will get the BEST price guaranteed.</p>
          <form id="register-form" name="register-form" class="nobottommargin" action="#" method="post">
            <div class="col_one_third">
              <label for="register-form-name">Name:</label>
              <input type="text" id="register-form-name" name="register-form-name" value="" class="form-control">
            </div>
            <div class="col_one_third">
              <label for="register-form-email">Email Address:</label>
              <input type="email" id="register-form-email" name="register-form-email" value="" class="form-control">
            </div>
            <div class="col_one_third col_last">
              <label for="register-form-password">Choose Password:</label>
              <input type="password" id="register-form-password" name="register-form-password" value="" class="form-control">
            </div>
            <div class="clear"></div>
            <div class="col_full nobottommargin">
              <button class="button button-3d button-black " id="register-form-submit" name="register-form-submit" value="register">Register Now</button>
            </div>
          </form>
          <p class="terms_and_conditions">By creating an account, you're agreeing with our <a href="#" target="_blank">Terms and Conditions</a> and <a href="#" target="_blank">Privacy Statement</a>.</p>
          p(class='terms_and_conditions') Interested in #[a(href='#') BookItIn.co.nz for Business?]
        </div>

block additional-scripts
  //- Add here additional script files for the specific file
  script(src="/app/user/user.ctrl.js", type='text/javascript')
