footer#footer.dark(style='background-color: #222;')
  .container
    .footer-widgets-wrap.clearfix
      .col_one_third
        .widget.clear-bottommargin-sm.clearfix
          .row
            .col-md-12.bottommargin-sm
              .footer-big-contacts
                span Call Us:
                |  00-64-123-4567
            .col-md-12.bottommargin-sm
              .footer-big-contacts
                span Send an Enquiry:
                |  info@vrgroup.co.nz
        .widget.subscribe-widget.clearfix
          h5 Get Latest 
            strong Offers &amp; Coupons
            |  by Email:
          #widget-subscribe-form-result(data-notify-type='success', data-notify-msg='')
          form#widget-subscribe-form.nobottommargin(action='include/subscribe.php', role='form', method='post', novalidate='novalidate')
            .input-group.divcenter
              span.input-group-addon
                i.fa.fa-envelope-o
              input#widget-subscribe-form-email.form-control.required.email(type='email', name='widget-subscribe-form-email', placeholder='Enter your Email', aria-required='true')
              span.input-group-btn
                button.btn.bgcolor(type='submit') Subscribe
      .col_one_third
        .widget.clearfix
          h4 Featured Services
          #post-list-footer
            .spost.clearfix
              .entry-c
                .entry-title
                  h4
                    a(href='#') Rental Cars
                    small
                      strong $XX
                      |  onwards
                ul.entry-meta
                  li
            .spost.clearfix
              .entry-c
                .entry-title
                  h4
                    a(href='#')
                      | Airport Pickup / Dropoff 
                      small
                        strong $XX
                        |  onwards
            .spost.clearfix
              .entry-c
                .entry-title
                  h4
                    a(href='http://vrhotels.co.nz', target='_blank')
                      | Hotel Booking 
                      small
                        strong $XX
                        |  onwards
      .col_one_third.col_last
        .widget.widget_links.clearfix
          h4 Popular Destinations
          .row.clearfix
            .col-xs-6
              ul
                li
                  a(href='#') Auckland
                li
                  a(href='fa-2x #') Queenstown
                li
                  a(href='#') Rotorua
                li
                  a(href='#') Hamilton
            .col-xs-6
              ul
                li
                  a(href='#') Christchurch
                li
                  a(href='#') Wellington
                li
                  a(href='#') Kaikoura
                li
                  a(href='#') Napier
    // .footer-widgets-wrap end
  #copyrights
    .container.clearfix
      .col_half
        | Copyrights © 2017 All Rights Reserved by VR Group
        br
        .copyright-links
          a(href='#') Terms of Use
          |  / 
          a(href='#') Privacy Policy
      .col_half.col_last.tright
        .fright.clearfix
          a(href='#')
            i.fa.fa-facebook
          a(href='#')
            i.fa.fa-twitter
          a(href='#')
            i.fa.fa-google-plus
          a(href='#')
            i.fa.fa-linkedin
        .clear
        i.icon-envelope2
        |  info@vrgroup.co.nz 
        span.middot ·
        i.icon-headphones
        |  00-64-123-4567
