header#header
  #header-wrap
    .container.clearfix
      #primary-menu-trigger
        i.icon-reorder
      #logo
        //- a.standard-logo(href='/', target='_self', data-dark-logo='img/logo-dark.png')
          img(src='theme/images/logo.png', alt='Canvas Logo')
        //-a.retina-logo(href='/', target='_self', data-dark-logo='img/logo-dark@2x.png')
          img(src='img/logo@2x.png', alt='Canvas Logo')
      nav#primary-menu.sub-title
        ul
          li
            a(href='/', target='_self')
              div Home
              span Lets Start
          li
            a(href='#')
              div BOOK IT IN
              span Find options
            ul
              li
                a(href='/bookitin/activity', target='_self')
                  div
                    i.fa.fa-map
                    |  Activity Booking
              li
                a(href='/bookitin/rentalcar', target='_self')
                  div
                    i.fa.fa-car
                    |  Rental Car
              li
                a(href='/bookitin/tour', target='_self')
                  div
                    i.fa.fa-cab
                    |  Tour Services
              li
                a(href='/bookitin/transfer', target='_self')
                  div
                    i.fa.fa-bus
                    |  Transfer Services
          li
            a(href='#')
              div Our Vehicles
              span What you will get
            ul
              li
                a(href='/vehicles/1', target='_self')
                  div Rental Vehicles
              li
                a(href='/vehicles/2', target='_self')
                  div Transfer Vehicles
          li
            a(href='/about', target='_self')
              div About
              span Few word
          li
            a(href='/contact', target='_self')
              div Contact
              span Need help
          li
            a(href='/login', target='_self')
              div Login
              span Register
