/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Hanlding Updates
-----------------------------------------------------------------*/

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.04);
}

.md-dialog-container, .md-dialog {
  z-index: 9999 !important;
}

.borderless td, .borderless th {
  border-top: none !important;
}

.table tbody>tr>td.vert-align {
  vertical-align: middle;
}

#activity {
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url('/img/home/a.jpeg');
  background-size: cover;
  height: 500px;
}

.img-responsive-aw {
  width: 100%;
  height: auto;
}

.debug {
  padding: 5px;
  background-color: #f9f2f4;
  border-radius: 4px;
  /*display: none;*/
}

md-toast.md-success-toast-theme .md-toast-content {
  background-color: rgb(102, 187, 106) !important;
}

md-toast.md-info-toast-theme .md-toast-content {
  background-color: rgb(41, 182, 246) !important;
}

md-toast.md-error-toast-theme .md-toast-content {
  background-color: rgb(239, 83, 80) !important;
}

md-toast.md-warn-toast-theme .md-toast-content {
  background-color: rgb(255, 150, 0) !important;
}
/*
.ng-enter {
  -webkit-animation: bounceIn 1s;
  -moz-animation: bounceIn 1s;
  -ms-animation: bounceIn 1s;
  animation: bounceIn 1s;
}*/

/*.ng-leave.ng-leave {
  -webkit-animation: bounceOut 1s;
  -moz-animation: bounceOut 1s;
  -ms-animation: bounceOut 1s;
  animation: bounceOut 1s;
}*/
/*
.ng-hide-add {
  -webkit-animation: fadeInLeft 1s;
  -moz-animation: fadeInLeft 1s;
  -ms-animation: fadeInLeft 1s;
  animation: fadeInLeft 1s;
}

.ng-hide-remove {
  -webkit-animation: fadeOutLeft 1s;
  -moz-animation: fadeOutLeft 1s;
  -ms-animation: fadeOutLeft 1s;
  animation: fadeOutLeft 1s;
}

.ng-hide-add-active, .ng-show-remove-active {
  opacity:0;
}
.ng-hide-remove-active , .ng-show-add-active{
  opacity:1;
}

.ng-show-add {
  -webkit-animation: fadeInLeft 1s;
  -moz-animation: fadeInLeft 1s;
  -ms-animation: fadeInLeft 1s;
  animation: fadeInLeft 1s;
}

.ng-show-remove {
  -webkit-animation: fadeOutLeft 1s;
  -moz-animation: fadeOutLeft 1s;
  -ms-animation: fadeOutLeft 1s;
  animation: fadeOutLeft 1s;
}*/


.animate-show-hide.ng-hide {
  opacity: 0;
}

.animate-show-hide.ng-hide-add,
.animate-show-hide.ng-hide-remove {
  transition: all linear 1.5s;
}
.md-input[disabled] {
  cursor: not-allowed;
}
.md-input-container.md-vrTheme-theme .md-input {
  cursor: pointer;
}

#toast-container
{
  position: fixed;
  bottom: 0;
  z-index: 999;
  width: 100%;
  overflow: visible !important;
}
