extends /template/layout
block variables
  - var appName = 'tourApp'
  - var isBookingActive = 'current'
  - var isTourActive = 'current'

block main-content
  section(id="page-title", class="page-title-dark")
    div(class="container clearfix")
      h1 Book Tour 
      span Make a booking with us
      ol(class="breadcrumb")
        li: a(href="#") <i class="fa fa-home"></i> Home
        li(class='active') Tour Bookings 

  //- Actual page content
  section(id="content")
    div(class="content-wrap")
      div(class="container clearfix")
        div(ng-view)

block additional-scripts
  script(src="/app/tour/tourApp.js", type='text/javascript')
  script(src="/app/tour/tour.ctrl.js", type='text/javascript')
