div(ng-show='vm.bookings.detail',class='animated fadeInLeft')
  h4 Select activities
  p(class='debug',ng-repeat='activity in vm.activities') {{ activity }}
  form(name='activitySelectionForm', ng-submit='vm.addBooking()', novalidate='')
    table.table.table-hover.table-condensed.borderless
      thead
        th #
        th Name
        th(width='5%') Unit Cost
        th(width='5%') Qty
        th(width='15%') Date
        th(width='10%') Total Cost
      tr(ng-repeat='activity in vm.activities')
        td.vert-align
          | {{ $index+1 }}
        td.vert-align
          | {{ activity.activityName }}
        td.vert-align
          md-input-container.md-icon-float.md-block
            md-icon.fa.fa-dollar(md-font-icon='icon-group', ng-class='icon')
            input(ng-model='activity.price', name='unitCost', ng-value='{{ activity.price}}', format='currency', readonly='readonly')
        td
          md-select(ng-model='activityCtrl.booking.quantities[$index]', name='qty[]', ng-change='activityCtrl.quantityChanged(activity.aId, activityCtrl.booking.quantities[$index])')
            md-option(ng-repeat='counter in counters', value='{{counter}}', placeholder='qty') {{counter}}
        td
          md-input-container(ng-show='activityCtrl.booking.quantities[$index]')
            input.md-input(mdc-datetime-picker='', date='true', time='false', type='text', format='MMMM Do YYYY', min-date='minDate', ng-model='activityCtrl.booking.bookingDate[$index]', name='bookingDates[]')
        td
          md-input-container.md-icon-float.md-block(ng-show='activityCtrl.booking.totalCost[$index] != 0')
            md-icon.fa.fa-dollar(md-font-icon='icon-group', ng-class='icon')
            input(ng-model='activityCtrl.booking.totalCost[$index]', name='totalCost[]', currency='', readonly='readonly')
      tr
        td(colspan='6', ng-show='activityCtrl.booking.grandTotal != 0')
          h4.text-right Grand Total {{ activityCtrl.booking.grandTotal | currency }} 

    button.button.button-large.button-reveal.tright(type='submit')
      i.fa.fa-bolt
      span Add to my booking
