h3 Your bookings
div(ng-show="!vm.bookings")
  .style-msg.style-msg-light(style='background-color: #333;')
    .sb-msg
      i.icon-question-sign
      strong You have NOT made any bookings with us.
p(class='debug') {{ vm.bookings }}
div(ng-show="vm.bookings")
  h4 Your have made  
    em {{ vm.bookings.activity.length + vm.bookings.rentalcar.length + vm.bookings.tour.length + vm.bookings.transfer.length }} 
    | bookings with us
  p(ng-show='vm.bookings.activity.length') 
    a(href='#/activity') {{ vm.bookings.activity.length }} activity Bookings 
  p(ng-show='vm.bookings.rentalcar.length') 
    a(href='#/rentalcar') {{ vm.bookings.rentalcar.length }} rental car Bookings 
  p(ng-show='vm.bookings.tour.length') 
    a(href='#/tour') {{ vm.bookings.tour.length }} tour Bookings 
  p(ng-show='vm.bookings.transfer.length') 
    a(href='#/transfer') {{ vm.bookings.transfer.length }} transfer Bookings 
