h3 Rental Car bookings
div(ng-show="!vm.bookings.rentalcar")
  .style-msg.style-msg-light(style='background-color: #333;')
    .sb-msg
      i.icon-question-sign
      strong You have NOT made any bookings with us.
