extends /template/layout
block variables
  - var appName = 'bookingsApp'
  - var isLoggedInActive = 'current'
  - var isBookingsActive = 'current'

block main-content
  //- The main content which will be exetended in each file
  section(id="page-title", class="page-title-dark")
    div(class="container clearfix")
      h1 Your bookings
      span Manage your bookings
      ol(class="breadcrumb")
        li: a(href="#") <i class="fa fa-home"></i> Home
        li(class='active'): a(href="#") Bookings

  //- Actual page content
  section(id="content")
    div(class="content-wrap")
      div(class="container clearfix")
        .col-md-3
          h4 Quick Links
          ul(class='nav nav-pills nav-stacked')
            li
              a(href='#/') All bookings
            hr.nomargin
            li
              a(href='#/activity') Activity bookings
            li
              a(href='#/rentalcar') Rental car bookings
            li
              a(href='#/tour') Tour bookings
            li
              a(href='#/transfer') Transfer bookings
        .col-md-9
          div(ng-view)

    #toast-container

block additional-scripts
  script(src="/app/user/bookings/bookingsApp.js", type='text/javascript')
  script(src="/app/user/bookings/bookings.ctrl.js", type='text/javascript')
  script(src="/app/user/bookings/bookings.service.js", type='text/javascript')
  
  script(src="/app/user/bookings/activity/activity.bookings.ctrl.js", type='text/javascript')
  script(src="/app/user/bookings/activity/activity.bookings.service.js", type='text/javascript')
  script(src="/app/user/bookings/activity/activity.update.ctrl.js", type='text/javascript')

  script(src="/app/user/bookings/tour/tour.bookings.ctrl.js", type='text/javascript')
  script(src="/app/user/bookings/tour/tour.bookings.service.js", type='text/javascript')
  script(src="/app/user/bookings/tour/tour.update.ctrl.js", type='text/javascript')
