h3 Update tour booking detail
.style-msg.alertmsg
  .sb-msg
    i.icon-remove
    strong Update BOOKING!
    |  Please note that you will incur updation charges

p {{ vm.tour.details }} in 
  strong {{ vm.tour.city }}
  br 
  | {{ vm.booking.adult }} Adult &amp; {{ vm.booking.child }} child
  br
  strong Total {{ vm.booking.totalAdultCost +  vm.booking.totalChildCost  | currency }}
  br
  strong Date {{ vm.booking.dateBooked | date: 'mediumDate'}}
div.text-center
  button(class='button button-large button-3d button-rounded button-brown', ng-click='vm.confirmCancellation()')
    i.fa.fa-edit
    span Update
